{
  "database_customers": {
    "debug": true,
    "driver": "postgres",
    "host": "",
    "username": "",
    "password": "",
    "name": "",
    "port": 5432,
    "options": "TimeZone=Asia/Jakarta",
    "maxOpenConn": 100,
    "maxIdleConn": 100,
    "maxLifeTimeConn": 450,
    "maxIdleTimeConn": 450
  },
  "database_invalid_encryption_customers": {
    "debug": true,
    "driver": "",
    "host": "",
    "username": "",
    "password": "",
    "name": "invalid_encryption",
    "port": 5432,
    "options": "TimeZone=Asia/Jakarta",
    "maxOpenConn": 100,
    "maxIdleConn": 100,
    "maxLifeTimeConn": 450,
    "maxIdleTimeConn": 450
  }
}
